.data-hora {
  margin-top: 30px;
}

h3 {
  margin-top: 30px;
}

.map-container {
  display: inline-flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;

  .map-frame {
    border: 2px solid black;
    height: 35em;
    width: 70em;
  }

  #map {
    height: 100%;
  }

  .input-frame {
    border: 2px solid black;
    height: 100%;
    width: 26em;
    margin-left: 15px;
  }
}
